.movies-list {
    background-color      : var(--background-secondary);
    width                 : 100%;
    border-top-left-radius: var(--movies-border-radius);
    align-items           : center;
    padding               : 1.2rem;
}

.movies-list-content {
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap                  : 1.2rem;
}