.movies-list {
    background-color      : var(--background-secondary);
    width                 : 100%;
    border-top-left-radius: var(--movies-border-radius);
    display               : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;
    align-items           : center;
    padding               : var(--padding-main);
}