.discover-section {
  padding-top: var(--padding-top-main);
  padding-bottom: 2rem;
}

.discover-section-title {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  padding-bottom: 2rem;
}

.discover-section-title h2 {
  justify-self: start;
}

.discover-section-title a {
  justify-self: end;
  text-decoration: none;
  color: var(--text-inactive);
}

.discover-section-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  grid-column-gap: 3rem;
  align-items: top;
  grid-auto-flow: row dense;
}

.discover-section:not(:first-child) {
  padding-top: 2rem;
  border-top: 2px solid var(--background-third);
}
