.discover {
    background-color      : var(--background-secondary);
    width                 : 100%;
    border-top-left-radius: var(--movies-border-radius);
    align-items           : top;
    padding-left          : var(--padding-sides-main);
    padding-right         : var(--padding-sides-main);
}