.discover {
    background-color      : var(--background-secondary);
    width                 : 100%;
    border-top-left-radius: var(--movies-border-radius);
    align-items           : top;
    padding-left          : var(--padding-sides-main);
    padding-right         : var(--padding-sides-main);
}

.discover-section {
    padding-top   : var(--padding-top-main);
    padding-bottom: 2rem;
}

.discover-section:not(:first-child) {
    padding-top: 2rem;
}

.discover-section-title {
    display              : grid;
    grid-template-columns: 5fr 1fr;
    align-items          : center;
    padding-bottom       : 2rem;
}

.discover-section-title h2 {
    justify-self: start;
}

.discover-section-title a {
    justify-self   : end;
    text-decoration: none;
    color          : var(--text-inactive);
}

.discover-section-list {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap      : 3rem;
    align-items          : top;
}


.discover-section:not(:first-child) {
    border-top: 2px solid var(--background-third);
}