.movie-card-link {
  transition-duration: 200ms;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  height: 100%;
}

.movie-card-image {
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.movie-card-image > .img {
  position: relative;
  height: 400px;
  transition: 0.3s ease-in-out;
}

.movie-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  z-index: 0;
}

.movie-card-title span {
  white-space: nowrap;
  z-index: -10;
}
