:root {
  --background-main     : #0f1115;
  --background-secondary: #19181f;
  --background-third    : #222128;
  --border-color        : #333239;
  --text-main           : #dddddd;
  --text-inactive       : #6f7072;

  --padding-sides-main  : 4rem;
  --padding-top-main    : 3rem;
  --movies-border-radius: 1rem;

  /* Sidebar */
  --sidebar-width: 180px;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color       : var(--background-main);
  color                  : var(--text-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color          : var(--text-main);
}